mixin addCss(items) 
    each item in items 
        link(rel="stylesheet",href=item)
mixin addScripts(items) 
    each item in items 
        script(type="text/javascript",src=item)
mixin addLoadableItem(item)
  if item.props.type == "application/json" 
    script(type=item.props.type,id=item.props.id) !{item.props.dangerouslySetInnerHTML}
  else
    script(async,"data-chunk"=item["data-chunk"],src=item.src)

html 
  head 
    meta(http-equiv="Content-Type" content="text/html")
    meta(http-equiv="X-UA-Compatiple" content="ie-egde")
    meta(name="Description" content="Some desc")
    title DEV-SERVER 
    link(rel="stylesheet",href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap")
    
  body
    div(id="app") !{content}

script(type="text/javascript") 
       | window.__PRELOADED_STATE__ =!{JSON.stringify(preLoadedState)}
#{scripts}
<!-- +addScripts(assets.scripts)  -->
