<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <link href="favicon.svg" rel="shortcut icon">
    {{{links}}}
    {{{styles}}}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><meta name="description" content="{{description}}">
    <title>HTML WEBPACK DEVSERVER</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
   {{{state}}}
  {{{scripts}}}
</html>